@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
@import url('https://fonts.googleapis.com/css?family=Pridi');
body {
      font-family: 'Marcellus SC', serif;
}

body {
    background-color: #4a464e;
    margin: 0px;
}

h1 {
    color: #000000;
    font-family: 'Marcellus SC';
    text-align: center;
    font-size: 100px;
}
h2 {
    color: #000000;
    font-family: 'Marcellus SC';
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
}

h3 {
    color: #000000;
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

p {
    font-family: 'Marcellus SC';
    color: black;
    font-size: 30px;
}

p1 {
    background-color: white;
    display: block;
    font-family: 'Pridi';
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

p2 {
    color: #000000;
    background-color: grey;
    display: block;
    font-family: 'Pridi';
    font-size: 30px;
    text-align: center;
}

p3 {
    color: #000000;
    background-color: red;
    display: block;
    font-family: 'Pridi';
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 50px;
    margin-left: 50px;
    border-color: black;
    background-color: black;
}

li {
    color: black;
    font-family: 'Pridi';
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}

video {
    width: 100%;
    height: auto;
}

#rustvideo {
position: absolute;
top: 0px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#error1 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error2 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error3 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error4 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}



@media only screen and (min-width: 361px) and (min-width: 767px) {
    /* älypuhelimen alareunan pikseli koko 361px / 767px */


.flex-container {
    display: flex;
    padding-right: 4%;
    padding-left: 4%;
}
    
.flex-item {
    flex: 1;
    padding: 5px;
}

nav ul {
    padding-left: 0px;
}
    
nav li {
    display: inline-block;
}
