@import url('https://fonts.googleapis.com/css?family=Marcellus+SC');
body {
      font-family: 'Marcellus SC', serif;
}

body {
    background-color: rgb(145, 117, 117);
    margin: 0px;
}

h1 {
    color: #000000;
    text-align: center;
    font-size: 100px;
}
h2 {
    color: #000000;
    text-align: center;
    font-size: 40px;
}

p {
    background-color: blueviolet;
    font-family: 'Marcellus SC';
    font-size: 30px;
}

p1 {
    background-color: white;
    display: block;
    font-family: 'Marcellus SC';
    font-size: 30px;
    text-align: center;
}

hr {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    border color: black;
}

li {
    color: black;
    font-size: 35px;
}

video {
    width: 100%;
    height: auto;
}

#rustvideo {
position: absolute;
top: 0px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}

#error1 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error2 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error3 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

#error4 {width: 80%;
    display: block;
    margin: auto;
    border: solid 2px transparent;
    border-radius: 2px;
}

@media only screen and (min-width: 361px) {

    .flex-container {
        display: flex
    }
    .flex-item {
        flex: 1;
        padding: 5px
    }

    nav ul {
        padding-left: 0px;
    }
    nav li {
        display: inline-block
    }

}

