body {
    background-color: rgba(255, 255, 255, 0.69);
    margin: 0px;
}

h1 {
    color: #000000;
    text-align: center;
}

p {
    font-family: fantasy;
    font-size: 20px;
}

video {
    width: 100%;
    height: auto;
}

#rustvideo {
position: absolute;
top: 0px;
}

.parallax-window {
    min-height: 400px;
    background: transparent;
}
#id="error1" {
    position: relative;

}